html [data-layout="default-sidebar-1"][data-navbar="dark-grey"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/dark-grey.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="primary"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/primary.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="secondary"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/secondary.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="success"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/success.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="info"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/info.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="warning"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/warning.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="danger"] {
  background: #f5f5f5;
  background-image: url(../../assets/images/danger.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

html [data-layout="default-sidebar-1"][data-navbar="white"] {
  background: #fff;
  background-image: url(../../assets/images/white.jpg);
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
}

[data-layout="default-sidebar-1"] {
  color: #212121;
}

[data-layout="default-sidebar-1"] .main {
  color: #212121;
}

[data-layout="default-sidebar-1"] ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

[data-layout="default-sidebar-1"] .navbar-1 {
  z-index: 1031;
  padding-left: 60px;
  padding-right: 60px;
  width: calc(100% - $left-sidebar-width);
  transition: width 0.35s ease;
  margin-left: 250px;
}

[data-layout="default-sidebar-1"] .navbar-1 .toggle-layout i {
  transition: transform 0.35s ease;
  transform: rotate(540deg);
}

[data-layout="default-sidebar-1"].layout-collapsed .navbar-1 {
  margin-left: 0;
}

[data-layout="default-sidebar-1"] .jumbotron-1 {
  margin-top: -14px;
  padding-left: 270px;
  padding-right: 20px;
  width: calc(100% - $left-sidebar-width);
}

[data-layout="default-sidebar-1"].layout-collapsed .jumbotron-1 {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

[data-layout="default-sidebar-1"] .main {
  padding-left: 270px;
  padding-right: 20px;
  -ms-overflow-style: none;
}

[data-layout="default-sidebar-1"] .main .page-on-top {
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px;
  transform: translate3d(0, -60px, 0);
  transform-style: preserve-3d;
}

[data-layout="default-sidebar-1"].layout-collapsed .main {
  padding-left: 20px;
}

[data-layout="default-sidebar-1"] .left-sidebar-1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 250px;
  overflow: hidden;
  z-index: 1032;
  transform: translate3d(0, 0, 0);
}

[data-layout="default-sidebar-1"] .left-sidebar-1 .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 270px;
}

[data-layout="default-sidebar-1"] .left-sidebar-1 .wrapper .content {
  width: 250px;
}

[data-layout="default-sidebar-1"] .left-sidebar-1 .wrapper .content .logo span {
  opacity: 1;
}

[data-layout="default-sidebar-1"].layout-collapsed .left-sidebar-1 {
  transform: translate3d(-250px, 0, 0);
}

[data-layout="default-sidebar-1"] .right-sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1032;
  opacity: 0;
  background: #000;
  transition: opacity 0.15s ease;
}

[data-layout="default-sidebar-1"] .right-sidebar-backdrop.fade {
  display: block;
}

[data-layout="default-sidebar-1"] .right-sidebar-backdrop.in {
  opacity: 0.25;
}

@media (max-width: 543px) {
  [data-layout="default-sidebar-1"] .navbar-1 {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .jumbotron-1 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .jumbotron-1 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="default-sidebar-1"] .main {
    padding-left: 0;
    padding-right: 0;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
  [data-layout="default-sidebar-1"] .left-sidebar-1 {
    transform: translate3d(-250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .navbar-1 {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .jumbotron-1 {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .main {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .left-sidebar-1 {
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  [data-layout="default-sidebar-1"] .navbar-1 {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .jumbotron-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .jumbotron-1 .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  [data-layout="default-sidebar-1"] .main {
    padding-left: 0;
    padding-right: 0;
    transform: translate3d(0, 0, 0);
  }
  [data-layout="default-sidebar-1"] .main .page-on-top {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
  [data-layout="default-sidebar-1"] .left-sidebar-1 {
    transform: translate3d(-250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .navbar-1 {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .jumbotron-1 {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .main {
    transform: translate3d(250px, 0, 0);
  }
  [data-layout="default-sidebar-1"].layout-collapsed .left-sidebar-1 {
    transform: translate3d(0, 0, 0);
  }
}
