/* */
.changepass
{
	font-size:12px; vertical-align:top; color:#3E22F7; cursor:pointer;
}
.jobslabel
{
	width: 15%;
}
.jobsrecord
{
	display: inline-flex; 
	/*padding: 15px; */
	width: 80%;
}
.jobsdesc
{
    padding: 5px;
    font-size: 16px;
}
.jobshead
{
    font-weight:bold;
}
.imagesection
{
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
}
.modal-title{
    width: 90%;
    float: left;
}
.openDiv{
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
}
.imgcontent{
    height: 160px;
    width: 160px;
    float: left;
    text-align: center;
}
.txtcontent
{
    margin-left: 21px;
    float: left;
}
.profilecontent
{
    margin-left: -15px;
    font-size: 17px;
    margin-top: 10px;
}