

<div class="dataTables_paginate paging_simple_numbers pagination" id="datatable-example-2_paginate" ng-if="1 < pages.length">

<a ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope paginate_button previous" ng-click="setCurrent(pagination.current - 1)" class="ng-binding"  aria-controls="datatable-example-2" data-dt-idx="0" tabindex="0" id="datatable-example-2_previous" ng-click="setCurrent(pagination.current - 1)">Previous</a>
<span>
<a ng-repeat="pageNumber in pages track by $index"  ng-class="{ current : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="paginate_button" aria-controls="datatable-example-2" data-dt-idx="{{ pageNumber }}" tabindex="0" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
</span>

<a  ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope paginate_button next" aria-controls="datatable-example-2" data-dt-idx="7" tabindex="0" id="datatable-example-2_next" ng-click="setCurrent(pagination.current + 1)">Next</a>

</div>

<!--<ul class="pagination" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(1)">&laquo;</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
    </li>
    <li ng-repeat="pageNumber in pages track by $index"  ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
    </li>
    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
    </li>
</ul>-->